body {
	margin: 0;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
}
#header_shadow_box {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	height: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2)
}
#header_container {
	box-sizing: border-box;
	display: flex;
	position : fixed;/*fixed이면 다른 position에 의해 무시된다.*/
	inset: 0;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #EBEBEB;
	background-color: white;
	padding: 0 80px;
}
#logo_box {
	flex: 0 0 102px;
	height: 80px;
}
#logo {
	padding: 24px 0;
	color: rgb(255, 56, 92);
}
#menu_box {
	position: relative;
	flex: 0 0 ;
	height: 42px;
}
#menu_bar {
	display: flex;
	align-items: center;
}
.menu {
	cursor: pointer;
	background-color: inherit;
}
#host {
	box-sizing: border-box;
	width: 100px;
	padding: 11px;
	text-align: center;
	font-size: 14px;
	color: #222222;
	font-weight: 600;
	text-decoration: none;
}
#host:hover {
	background-color: #F7F7F7;
	border-radius: 42px;
}
#lang {
	width: 40px;
	border-style: none;
	padding: 12px 6px 12px 12px;
	margin-right: 6px;
}
#lang:hover {
	background-color: #F7F7F7;
	border-radius: 42px;
}
#login_menu	{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 77px;
	height: 42px;
	padding: 5px 5px 5px 12px;
	border: 1px solid lightgray;
	border-radius: 42px;
	color: #717171;
	box-shadow: 0 0 5px #F7F7F7;
}
@keyframes login_shadow {
	from {box-shadow: 0 0 5px #F7F7F7;}
	to {box-shadow: 0 4px 4px #DDDDDD;}
}
#login_menu:hover {
	animation-name: login_shadow;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
#login_three_line {
	
}
#login_icon	{
	height: 30px;
	width: 30px;
}
#login_scroll_container {
	visibility: hidden;
	position: fixed;
	right: 80px;
	top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 240px;
	height: 243px;
	margin-top: 32px;
	border-radius: 15px;
	padding: 8px 0;
	background-color: white;
	box-shadow: 0 0 10px #DDDDDD;
	font-size: 14px;
}
.login_scroll_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#login_scroll_top {
	height: 90px;
	margin-bottom: 8px;
}
#login_scroll_bot {
	height: 135px;
	margin-top: 8px;
}
.login_opt {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 42px;
	background-color: white;
	border-style: none;
	text-align: left;
	padding-left: 20px;
}
.login_opt:hover {
	background-color: #F7F7F7;
}
#login_scroll_line {
	height: 1px;
	background-color: #B0B0B0;
}
#login_signin {
	font-weight: 600;
}

#activity_container {
	visibility: hidden;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	top: 0;
	display: flex;
	height: 48px;
	padding: 16px 0;
}
.activity_box {
	cursor: pointer;
	background-color: inherit;
	font-weight: 400;
	font-size: 16px;
	border-style: none;
}
#indoor_box {
	padding : 10px 0;
	width: 64px;
}
#outdoor_box {
	width: 64px;
}
#online_box {
	width: 115px;
}
#search_box {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	top: 0;
	height: 80px;
	padding: 16px 0;
	box-sizing: border-box;
}
#search_bar {
	display: flex;
	align-items: center;
	height: 48px;
	box-sizing: border-box;
	border-radius: 48px;
	border: 1px solid lightgray;
	box-shadow: 0 1px 6px #DDDDDD;
	/* width: 360px */
}
@keyframes search_bar_shadow {
	from {box-shadow: 0 2px 4px #DDDDDD;}
	to {box-shadow: 0 2px 4px #B0B0B0;}
}
#search_bar:hover {
	animation-name: search_bar_shadow;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.search {
	height: inherit;
	cursor: pointer;
	font-size: 14px;
	background-color: inherit;
	padding: 0;
	border-style: none;
	border-radius: 48px;
}
.search_line {
	height: 24px;
	width: 1px;
	background-color: lightgray;
}
#search_where {
	box-sizing: border-box;
	width: 98px;
	padding-left: 8px;
	font-weight: 600;
	color: rgb(34, 34, 34);
}
#search_when {
	width: 120px;
	font-weight: 600;
	color: rgb(34, 34, 34);
}
#search_who {
	color: gray;
	width: 105px;
}
#search_btn {
	width: 40px;
}
#search_icon {
	background-color: #FF385C;
	color: white;
	padding: 10px;
	margin: 7px 7px 7px 0;
	border-radius: 50%;
}

#nav_container {
	/* border: 1px solid black; */
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 20px;
	height: 78px;
	background-color: white;
}
#theme_icon_container {
	position: absolute;
	display: flex;
	width: 100%;
	height: inherit;
				font-size: 30px;
				white-space: nowrap;
				/* overflow: auto; */
				overflow-x: hidden;
}
.theme_icon_box {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: auto;
	margin-right: 32px;
	padding: 0;
	background-color: white;
	border-style: none;
	opacity: 0.7;
	border-bottom: 2px solid white;
}
.theme_icon_box:hover {
	opacity: 1;
	border-bottom: 2px solid #B0B0B0;
}
.theme_icon {
	
}
.theme_text {
	min-width: 56px;
	padding-top: 8px;
	padding-bottom: 12px;
}
#nav_box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 78px;
	padding: 0 80px 0 80px;
}
#nav_right {
	position: absolute;
	right: 184px;
	height: inherit;
	box-shadow: -20px 0 15px white;
}
#nav_left {
	visibility: hidden;
	position: absolute;
	left: 80px;
	height: inherit;
	box-shadow: 20px 0 15px white;
}
.theme_btn_container {
	height: inherit;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: white;
}
.theme_btn {
	cursor: pointer;
	width: 28px;
	height: 28px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #B0B0B0;
}
#theme_right_btn {

}
#filter_container {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	height: inherit;
	padding-right: 80px;
	background-color: white;
}
#filter_box {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80px;
	height: 48px;
	border-radius: 10px;
	margin-left: 24px;
	background-color: inherit;
	border: 1px solid #DDDDDD;
	font-weight: 600;
	font-size: 12px;
}

/* #main_container {
	
	width: 100%;
} */
#main_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px 24px;
	margin-top: 24px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	top: 178px;
	padding: 0 80px;
}
.main_content {
	position: relative;
}
/* .main_link {
	 position: absolute;
	width: 100%;
	text-decoration: none;
} */
.main_img_box {
	position: relative;
	display: flex;
    width: 100%;
	margin-bottom: 12px;
}
.main_img_box:after {
	content: "";
	display: block;
	padding-bottom: 95%;
	
}
.content_img {
	position: absolute;
	border-radius: 5%;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_container {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%; 
	box-sizing: border-box;
	padding: 12px 12px 100px 12px;

}
.img_link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.img_item {
	flex: 1 1 ;
}
.heart_btn {
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 32px;
	height: 32px;
	right: 12px;
	padding: 2px 6px 0 6px;
	border-style: none;
    background-color: rgba(255, 255, 255, 0);
}
.img_move_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img_move_btn {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
	width: 32px;
	height: 32px;
	border-radius: 32px;
	border-style: none;
}
@keyframes img_btn_ani {
	from {background-color: rgba(255, 255, 255, 0.3); color: rgba(34, 34, 34, 0.5);}
	to {background-color: #FFFFFF; color: rgb(34, 34, 34);}
}
.img_move_btn:hover {
	animation-name: img_btn_ani;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	transform: scale(1.1);
}
.img_btn_right {
	right: 12px;
}
.img_btn_left {

}
.img_bottom_bar {

}
.content_text {
	display: grid;
	grid-template-rows: 19px 19px 19px 25px;
	grid-template-columns: auto 50px;
	gap: 2px 8px;
	font-size: 15px;
}
.content_text:visited {
	
}
.text_item:nth-child(3) {
	grid-column: 1 / 3;
}
.text_item:nth-child(4) {
	grid-column: 1 / 3;
}
.text_item:nth-child(5) {
	grid-column: 1 / 3;
}
.textitem {

}
.text_contry {
	color: rgb(34, 34, 34);
	font-weight: 600;
}
.text_info {
	color: rgb(34, 34, 34);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text_author {
	color: rgb(113, 113, 113);
}
.text_date {
	color: rgb(113, 113, 113);
}
.text_price {
	color: rgb(34, 34, 34);
	margin-top: 6px;
}
.text_price_num {
	font-weight: 600;	
}

#foot_container	{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	width: 100%;
}
.info {
	background-color: #FFFFFF;
}
#map_box {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: 150px;
	height: 48px;
	bottom: 40px;
	border-radius: 48px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 600;
	border-style: none;
	color: white;
	background-color: rgb(34, 34, 34);
}
#info_top {
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	padding: 13px 80px 14px 80px;
}
#lang_container {
	display: flex;
}
#info_bot {
	color: rgb(113, 113, 113);
	font-size: 10px;
	padding: 0 80px 8px 80px;
}
#foot_line {
	padding-top: 8px;
	border-top: 1px solid lightgray;
}